
/* ------cart 購物車區------ */



/* header購物車的數字 */
.navigation .num-cart{
    height: 15px;
    margin-top: -15px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
  }
  /* .navigation .num-cart::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgba(186, 194, 183, 0.8);
  
  position: absolute;
  z-index: -2;
  } */
  
  #cartlist{
    width: 80%;
  }
  .more img {
    width: 100px;
    height: 10px;
    margin-top: -25px;
  }
  

    #cart {
      padding: 50px;
      /* width: 100%; */
      /* border: solid 5px red; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  
  /* 上面導覽列 */
  #cart .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 20px;
  }
  
  #cart h3 {
    line-height: 24px;
    /* margin-bottom: 10px; */
  }
  
  #cart h1 {
    font-weight: 600;
    letter-spacing: 0.12em;
    line-height: 24px;
    color: #3C4935
  }
  
  /* 資料核對區 */
  #cart nav {
    /* width: 92%; */
    background-color: rgba(240, 240, 240, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px auto; */
    padding: 10px 0;
    width: 80%;
    height: 18vh;
    /* height: 170px; */
    margin: 20px 0 5vh 0;
    /* border: solid 5px salmon; */
  }
  
  #cart .deta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: solid 5px salmon; */
    width: 25%;
  }
  
  /* 字的顏色 */
  #cart .deta h2 {
    color: #1d201d;
  }
  
  #cart .deta h3 {
    color: #797474;
  }
  
  #cart .deta h1,
  #cart .deta h4 {
    color: #3C4935;
  }
  
  /*  您好，林洛洛！  */
  #cart .deta .bold {
    /* font-size: 14px; */
    font-size: 0.875rem;
    font-weight: 700;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
    line-height: 21px;
    /* border: solid 5px salmon; */
  }
  
  /*  請確認以下預約的課程是否正確，謝謝配合。 */
  #cart p {
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
    margin: 10px 0;
  }
  
  /* lolitama@gmail.com */
  #cart .deta .eng {
    font-weight: 700;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
    font-family: 'Unna', serif;
  }
  
  /*cart: Course Price Quantity Subtotal 區塊 */
  #cart .bar div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }
  
  /* Course */
  #cart .course_c {
    /* margin-left: 50px; */
  }
  
  #cart .bar {
    width: 80%;
    border-bottom: #1D201D 2px solid;
  }
  
  /*cart: Course Price Quantity Subtotal 單一個 */
  #cart .bar h3 {
    margin-right: 80px;
    /* border: solid 5px salmon;  */
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* cart price間隔 */
  #cart .price {
    margin-left: 486px;
  }
  
  /* cart hr長度  */
  #cart .hrb {
    /* width: 1000px; */
    width: 91%;
    margin-left: 4.5%;
    border-color: #797474;
    /* border: solid 2px red; */
  }
  
  #cart .hrb1 {
    margin-left: 5%;
  }
  
  /* cart茶藝興趣A班區塊 */
  #cart .shop-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 1000px; */
    width: 100%;
    margin: 20px 0 20px 0;
    height: 80px;
    /* border: solid 5px salmon; */
    border-bottom: #797474 1px solid;
  }
  
  /* 茶藝上下間距 */
  #cart .space {
    /* margin: 30px auto; */
  }
  
  /* cart茶藝興趣A班  */
  #cart .shop-item h2 {
    color: #5C5C5C;
    display: block;
     width: 12%;
  }
  
  /*週五下午14:00-16:00，共6堂...  */
  #cart .shop-item .friday {
    /* margin: 0 80px; */
    margin: 0 5% 0 5%;
    color: #5C5C5C;
    /* border: solid 3px rgb(241, 181, 181); */
    font-family: 'Noto Serif TC', serif;
    width: 19%;
  }
  
  /* cart $8000區塊 */
  #cart .money {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* border: solid 5px rgb(170, 229, 212); */
  }
  
  /* $ */
  #cart .money h4,
  #cart .subtotal h4 {
    margin-top: 5px;
    margin-right: 16px;
  }
  
  /* cart subtotal */
  #cart .subtotal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -1%;
    /* border: solid 5px salmon; */
    width: 8%;
  }
  #cart .subtotal h1{
    /* display: block;
    width: 100px; */
    display: flex;
    justify-content: flex-end;
  }
  
  /* cart 數量增減 */
  .box {
    /* display: block; */
    /* position: absolute; */
    /* left: 770px; */
    /* transform: translateX(-50%) translateY(-50%); */
    border: solid 2px #FFF;
    background-color: #FFF;
    color: #3C4935;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 40px;
    /* border: solid 5px salmon; */
  }
  
  .minus,
  .num,
  .add,
  .count,
  .minus1,
  .num1,
  .add1,
  .count1 {
    display: inline-block;
    /* font-size: 16px; */
    font-size: 1rem;
  }
  
  .minus,
  .num,
  .add,
  .minus1,
  .num1,
  .add1 {
    padding-left: 5px;
    padding-top: 0px;
    cursor: pointer;
  }
  
  .num,
  .num1 {
    width: 20px;
    height: 30px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    margin: 0 10px 0 5px;
  }
  
  .minus,
  .add,
  .minus1,
  .add1 {
    width: 10px;
    /* -webkit-user-select: none; */
  }
  
  .minus:hover,
  .add:hover,
  .minus1:hover,
  .add1:hover {
    background-color: #666;
    color: #fff;
  }
  
  /*cart 活動:金工山林遊: 悠悠  */
  #cart .shop-item {
    /* position: relative; */
  }
  
  /* 活動 */
  #cart .act h3 {
    background-color: #9B8256;
    color: #fff;
    /* width: 77px; */
    /* height: 19px; */
    width: 45%;
    height: 2.1vh;
    border-radius: 0 3px 3px 0;
    text-align: end;
    line-height: 19px;
    /* line-height: 10px; */
    padding-right: 15px;
    margin-left: 0.1px;
    margin-top: -5vh;
    /* padding:1vh 0 ; */
  }
  
  /* 4/13+下午14:00-16:00，共1堂 */
  #cart .act {
    margin-top: 15px;
  }
  
  /* 4/13 */
  #cart .act h1 {
    color: #5c5c5c;
  }
  
  /* 下午14:00-16:00，共1堂 */
  #cart .noon {
    /* margin-left: -55px; */
    /* margin-right: 90px; */
    margin: 0 175px 0 92px;
    /* border: solid 3px red; */
  }
  
  /* total購物車總計 */
  #cart .total {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0 50px 65.5%;
    /* width: 1000px; */
    width: 35%;
    /* border: solid 3px red; */
  }
  
  /* 購物車總計NT$8000文字區塊 */
  #cart .total_money {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
  }
  
  /* 購物車總計間距 */
  #cart .total_money h2,
  #cart .total_money .nt {
    margin: 0 40px;
  }
  
  #cart .total_money .nt {
    display: flex;
    align-items: center;
  }
  
  
  
  /* short hr */
  #cart .total hr {
    width: 350px;
    height: 0;
    background-color: #797474;
    /* text-align: end; */
  }
  
  /* NT$8000 */
  #cart .nt {
    display: flex;
  }
  
  /* NT$ */
  #cart .nt h4 {
    margin-top: 10px;
    margin-right: 10px;
  }
  
  /* 送出預約訂單 */
  #cart .sent {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 70px;
  }
  
  /* 送出預約訂單按鈕 */
  #cart button {
    background-color: #3C4935;
    border-radius: 50px;
    width: 280px;
    height: 40px;
  }
  
  /* 送出預約訂單文字 */
  #cart button h3 {
    color: #fff;
    margin: 0 auto;
  
  }
  
  /* 上一個步驟 */
  #cart .more {
    width: 80%;
  }
  
  /* 上一個步驟 Prev Step */
  #cart .more h3 {
    margin-left: 20px;
    padding: 15px 0;
    font-weight: 400;
    /* border: solid 3px red; */
  }
  
  /* #cart .mini {
    width: 15px;
    margin-left: 100px;
  } */
    #cart .mini {
      width: 40px;
      height: 35px;
      margin-left: 12%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }
  #cart .mini::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #1D201D;
  
  }
  /* RWD桌機 */
  @media (min-width:992px) {
  
    #cart .small1,
    #cart .small2 {
        display: none;
    }
  }
  



  /* RWD平板 */
  @media (max-width:820px) {
    #cart .nav {
      margin-top: 8vh;
      margin-bottom: 11vh;
  }
  
    #cart .nav {
        margin-top: 10vh;
    }

      #cart nav {
        /* width: 100%; */
        width: 66%;
        /* height: 20vh; */
        height: 221px;
        margin-top: -8vh;
        /* margin-left: -18%; */
        padding: 0px 20%;
        /* margin: 0 auto; */
    }
    
  
  
    #cart .deta {
        margin-top: 0; 
        margin-left: 0;
        width: 117%;
    }
  
    #cart .deta h3 {
        width: 70%;
    }
  
    #cart .course_c {
        margin-left: 0%;
    }
  
    #cart .bar .price,
    #cart .bar .no,
    #cart .money,
    #cart .noon {
        display: none;
    }
  
    #cart .hrb {
        margin-left: -7%;
        width: 333px;
        /* margin-bottom: 158.5px; */
    }

    #cart .bar {
      width: 100%;
  }

    #cartlist {
      width: 100%;
  }
  
    #cart .shop-item {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */
        margin-left: 0%;
        margin-bottom:3vh;
        height: 17vh;
    }
  
    #cart .shop-item h2 {
        line-height: 23px;
        margin-left: 0%;
        margin-bottom: 7vh;
        width: 100%;
    }
    #cart .total {
      width: 25%;
  }

    #cart .friday {
        width: 100%;
  }      
 
    #cart .shop-item .friday {
      margin: 0;
  }
    #cart .box {
      margin: -15% 0 0 -85%;
    }
  
    #cart .subtotal {
        margin: -4vh 0 0 81%;
    }
  

    #cart .mini {
      margin: -8vh 0 0 89%;
  }
  
    #cart .small1 {
        margin: 0 0 -1.5vh -135%;
    }
  
    #cart .small2 {
        margin: 0 0 -1.5vh -135%;
    }
  
    #cart .act h3 {
        /* width: 68px; */
        /* height: 19px; */
        width: 40%;
        height: 2.2vh;
        margin: -2vh 0 0 -45%;
    }
  
    #cart .act h1 {
        margin: 1vh 0 0 -45%;
    }
  
    #cart .act h2 {
        width: 100%;
        margin-left: -46%;
        /* margin: 0.5vh 0 0 10%; */
    }
  
    #cart .sub9 {
        margin: -6vh 0 0 -70%;
    }
  
    #cart .sub99 {
        margin: -4vh 0 0 90%;
    }
  
    #cart .mini9 {
        margin: -15vh 0 0 115%;
    }
  
    #cart .total hr {
      width: 285px;
      margin: 0px 0 0 0%;
      border-color: #797474;
    }
  
    #cart .total_money {
        height: 10vh;
        margin: 0;
        margin-left: 0%;
    }
  
    #cart .total_money h2 {
        width: 6rem;
        margin: 0;
        padding: 0;
    }
    #cart .total_money .nt {
    margin-right: 2%;

  }
    #cart .sent {
      width: 100%;
      height: 40px;
      margin-top: 0vh;
      display: flex;
      justify-content: center;
    }
  
    #cart .more {
        margin-top: 3vh;
        margin-left: 0%;
        width: 100%;
    }
  }








  /* RWD手機 */
  @media (max-width:576px) {
    #cart .nav {
      margin-top: 8vh;
      margin-bottom: 11vh;
  }
  
    #cart .nav {
        margin-top: 10vh;
    }

      #cart nav {
        /* width: 100%; */
        width: 100%;
        /* height: 20vh; */
        height: 221px;
        margin-top: -8vh;
        /* margin-left: -18%; */
        padding: 0px 20%;
        /* margin: 0 auto; */
    }
    
  
  
    #cart .deta {
        margin-top: 0; 
        margin-left: 0;
        width: 117%;
    }
  
    #cart .deta h3 {
        width: 70%;
    }
  
    #cart .course_c {
        margin-left: 0%;
    }
  
    #cart .bar .price,
    #cart .bar .no,
    #cart .money,
    #cart .noon {
        display: none;
    }
  
    #cart .hrb {
        margin-left: -7%;
        width: 333px;
        /* margin-bottom: 158.5px; */
    }

    #cart .bar {
      width: 120%;
  }

    #cartlist {
      width: 120%;
  }
  
    #cart .shop-item {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */
        margin-left: 0%;
        margin-bottom: 1vh;
        height: 20vh;
    }
  
    #cart .shop-item h2 {
        line-height: 23px;
        margin-left: 0%;
        margin-bottom: 9vh;
        width: 100%;
    }
    #cart .total {
      width: 15%;
  }

    #cart .friday {
        width: 100%;
  }      
 
    #cart .shop-item .friday {
      margin: 0;
  }
    #cart .box {
      margin: -32% 0 0 -70%;
    }
  
    #cart .subtotal {
        margin: -4vh 0 0 70%;
    }
  

    #cart .mini {
      margin: -10vh 0 0 89%;
  }
  
    #cart .small1 {
        margin: 0 0 -1.5vh -135%;
    }
  
    #cart .small2 {
        margin: 0 0 -1.5vh -135%;
    }
  
    #cart .act h3 {
        /* width: 68px; */
        /* height: 19px; */
        width: 40%;
        height: 2.2vh;
        margin: -2vh 0 0 -45%;
    }
  
    #cart .act h1 {
        margin: 1vh 0 0 -45%;
    }
  
    #cart .act h2 {
        width: 100%;
        margin-left: -46%;
        /* margin: 0.5vh 0 0 10%; */
    }
  
    #cart .sub9 {
        margin: -6vh 0 0 -70%;
    }
  
    #cart .sub99 {
        margin: -4vh 0 0 90%;
    }
  
    #cart .mini9 {
        margin: -15vh 0 0 115%;
    }
  
    #cart .total hr {
      width: 223px;
      margin: 0px 0 0 -94%;
      border-color: #797474;
    }
  
    #cart .total_money {
        height: 10vh;
        margin: 0;
        margin-left: -80%;
    }
  
    #cart .total_money h2 {
        width: 6rem;
        margin: 0;
        padding: 0;
    }
    #cart .total_money .nt {
       margin: 0;
  }


    #cart .sent {
      width: 100%;
      height: 40px;
      margin-top: 0vh;
      display: flex;
      justify-content: center;
    }
  
    #cart .more {
        margin-top: 3vh;
        margin-left: -8%;
        width: 100%;

    }
  }
  
  /* reserve 預約成功區 */
  #reserve {}
  
  /* 上面導覽列 */
  #reserve .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* 資料核對區 */
  #reserve nav {
    width: 1000px;
    background-color: rgba(240, 240, 240, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 0;
  }
  
  #reserve .deta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  /* 字的顏色 */
  #reserve .deta h2 {
    color: #1d201d;
  }
  
  #reserve .deta h3 {
    color: #797474;
  }
  
  #reserve .deta h1,
  #reserve .deta h4 {
    color: #3C4935;
  }
  
  #reserve .nav h1 {
    font-weight: 600;
    color: #3C4935;
  }
  
  /*  您好，林洛洛！  */
  #reserve .deta .bold {
    /* font-size: 14px; */
    font-size: 0.875rem;
    font-weight: 700;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
  }
  
  /*  您好，林洛洛！如需查看訂單資訊可至會員查看。 */
  #reserve p {
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
    margin-top: 10px;
  }
  
  /* 如需查看訂單資訊可至會員查看。 */
  #reserve .text {
    display: flex;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #797474;
    /* letter-spacing: 2px; */
    letter-spacing: 0.125rem;
    margin-bottom: 10px;
  }
  
  /* 會員 */
  #reserve .member {
    display: block;
    text-decoration: underline;
    color: #797474;
  }
  
  /* lolitama@gmail.com */
  #reserve .deta .eng {
    font-weight: 700;
    color: #797474;
    letter-spacing: 2px;
    font-family: 'Unna', serif;
  }
  
  /* popup 自動彈跳視窗 */
  #popup {
    width: 480px;
    height: 260px;
    margin: 100px auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: #797474 solid 3px;
    position: relative;
  }
  
  /* 字的顏色 */
  #popup h1,
  #popup h3 {
    color: #797474;
  }
  
  /* close */
  #popup .close {
    display: flex;
    margin: 10px 10px 10px 450px;
    /* border: solid 5px pink; */
  }
  
  /* 已送出訂單!返回至首頁 */
  #popup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    /* border: solid 5px pink; */
  }
  
  /* short hr */
  #popup hr {
    border-color: #DACFB8;
    width: 80px;
    height: 0;
  }
  
  /* circle */
  #popup .circle {
    position: absolute;
    top: -40px;
    left: 100px;
  }
  
  /* 底圖logo */
  #popup .logo {
    position: absolute;
    top: -70px;
    left: 15px;
  }
  
  
  
  
  /* infoModal 自動彈跳視窗 */
  #infoModal {
    width: 480px;
    height: 260px;
    margin: 100px auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: pink solid 3px; */
    border-color: #fff;
    /* box-shadow: 3px 4px 4px rgba(0,0,0,0.25); */
    -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  
  /* 字的顏色 */
  #infoModal h1,
  #infoModal h3 {
    color: #797474;
  }
  
  /* close */
  #infoModal #close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    /* display: flex; */
    /* margin: 10px 10px 10px 450px ; */
    /* border: solid 5px pink; */
  }
  
  /* 已送出訂單!返回至首頁 */
  #infoModal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* border: solid 5px pink; */
  }
  
  /* short hr */
  #infoModal hr {
    border-color: #DACFB8;
    width: 80px;
    height: 0;
  }
  
  /* circle */
  #infoModal .circle {
    position: absolute;
    top: -50px;
    left: 115px;
  }
  
  /* 底圖logo */
  #infoModal .logo {
    position: absolute;
    top: -70px;
    left: 15px;
  }
  
  /* btn show 訂單 */
  #show {
    background-color: rgba(155, 130, 86, .74);
    border-color: #f0f0f0;
    display: flex;
    margin: 80px auto;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    /* border: solid 5px salmon; */
  }
  
  /* show:hover */
  #show:hover {
    background-color: #3C4935;
    color: #F0F0F0;
  }
  
  /* 訂單文字 */
  #show h2 {
    color: #fff;
    display: flex;
    margin: 0 auto;
    /* border: solid 5px salmon; */
  }
  
  /* RWD手機 */
  @media (max-width:576px) {
    #reserve {}
  
    #reserve .nav {
        margin: 12vh 0 0 0;
    }
  
    #reserve nav {
        margin: 5vh 0 0 -75%;
    }
  
    #infoModal .circle {
        /* margin-left: -15%; */
        margin-left: -18%;
    }
  
    #infoModal {
        width: 88%;
    }
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  
    #reserve {}
  }